<div class="row">
    <div class="col-md-4">
      <img src="<%= @hero_image %>">
    </div>
       <div class="col-md-4">
          <h3>Super Hero Name</h3><h4><%= @hero_name.upcase %></h4>
          <h3>Super Hero Power</h3><h4><%= @hero_power %></h4></br></br></br>
          <h5>Employed as</h5><h6><%= @corp_title.upcase %></h6>
          <h5>Employed by</h5><h6><%= @corp_job.upcase %></h6>
       </div>
        <div class="col-md-4">
          ....
        </div>
        </div>